<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="%PYTHON_PATH%"
      arguments=" -m waitress --listen=127.0.0.1:%HTTP_PLATFORM_PORT% main:app"
      stdoutLogFile="logs\\waitress.log"
      startupTimeLimit="60"
      rapidFailsPerMinute="10" />
  </system.webServer>
</configuration>
